#toolbar{
    background-color: #65B1FB;
    margin: 0px;
    padding: 2px;
}
#input{
    padding: 8px; 
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: 700px; 
    border-color: #0758A6;
}
#power{
    margin-left: 20px;
}
#home{
    float:right;
    position: absolute;
    margin-top: 10px;
    margin-left: 300px;
    background-color: white;
    padding:12px 12px;
    cursor: pointer;
}
.btn{
    float:right;
    padding:12px;
    border: none;
    width:80px;
    border-radius: 4px;
    background-color:#0758A6;
    color:white;
}
.btn:hover{
    background-color:white;
    opacity: 2;
    
}
#login{
    margin-top:15px;
    margin-right:200px;
}
#register{
    margin-top:15px;
    margin-right: -190px;
}



.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

