#toolbar{
    background-color: #65B1FB;
    margin: 0px;
    padding: 2px;
}
#input{
    padding: 8px; 
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: 700px; 
    border-color: #0758A6;
}
#power{
    margin-left: 20px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

