#toolbar{
    background-color : rgba(184, 229, 250, 0.2);
    border-color: transparent;
    margin: 0px;
    padding: 2px;
}
#input{
    padding: 8px; 
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: 700px; 
    border-color: #0758A6;
}
#power{
    margin-left: 20px;
    cursor: pointer;
}
#home{
    float:right;
    position: absolute;
    margin-top: 2px;
    margin-left: 300px;
    background-color: transparent;
    padding:12px 12px;
    cursor: pointer;
}
.btn{
    float:right;
    padding:12px;
    border: none;
    width:80px;
    border-radius: 4px;
    background-color:#0758A6;
    color:white;
}
.btn:hover{
    background-color:#65B1FB;
    opacity: 2;
    
}
.logo {
    position: absolute;
    top: 100px;
    width: 85%;
}
#login{
    margin-top:15px;
    margin-right:200px;
}
#register{
    margin-top:15px;
    margin-right: -190px;
}


.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
overflow: hidden;
height: 100vh;
background: linear-gradient(180deg, #09283d, #1b415c, #29516c, #6e8ea5, #7cadd0, #7cadd0, #7cadd0, #7cadd0, #6e8ea5, #3a6583, #1a4461, #09283d);
background-size: 2400% 2400%;
animation: dayNight  60s ease infinite;
}
