/* The Modal (background) */
.ride-content{
	overflow: auto;
    z-index: 1;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#header{
    color:black;
    padding: 10px;
    margin:10px;
}
input, select {
    color:black;
    }
.pls{
   background-color: #1a4461;
   color: white;
   padding: 20px;
   margin-left: 20px;
   margin-right: 20px;
   border-radius: 10px; 
    
}
.pls2{
    background-color:#7cadd0;
    padding: 14px;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-radius: 8px; 
    
     
 }


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: -7%;
  }
  
  td, th {
    text-align: left;
    border: 10px solid transparent;

  }
  
  tr:nth-child(even) {
   

  }


/*dropdown for Driving contents/View Rides*/
.Driver {
	position: relative;
    display: inline-block;
}

.driver-contents {
	display: none;
}
.dropDriver button{
	display: block;
}

.Driver:hover .driver-contents {display: block;}

#toolbar{
    background-color : rgba(184, 229, 250, 0.2);
    border-color: transparent;
    margin: 0px;
    padding: 2px;
}
#input{
    padding: 8px; 
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    width: 700px; 
    border-color: #0758A6;
}
#power{
    margin-left: 20px;
    cursor: pointer;
}
#Delete {
    position: relative;
    float: left;
    
}
#edit{
    float: right;
    padding: 10px;
    margin:10px;
    background-color:#005296fd;
    border-radius: 4px;
    color: white;
    box-shadow:1px 1px grey;
}
#home{
    float:right;
    position: absolute;
    margin-top: 2px;
    margin-left: 300px;
    background-color: transparent;
    padding:15px 15px;
    cursor: pointer;
    color: black;
}

#bell{
    color: black;
    float:right;
    position: absolute;
    margin-top:-20px;
    margin-left: 410px;
    background-color: transparent;
    cursor: pointer;

}
img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-left: 500px;
    cursor: pointer;

    
}
.btn{
    padding:12px;
    float:left;
    border: none;
    width:80px;
    border-radius: 4px;
    background-color:#0758A6;
    color:white;
   
}
.btn1 {
    padding:7px;
    border: none;
    width:80px;
    border-radius: 4px;
    background-color:#7cadd0;
    color:white;
}
.btn:hover{
    background-color:#65B1FB;
    opacity: 2;
    
}
.logo {
    position: absolute;
    top: 100px;
    width: 85%;
}
#login{
 margin-top:15px;  
 margin-right: 5px;
}
#loginUsername{
    color: white;
    font-size: 60px;
    align-content: center;
}
#register{
    margin-top:15px;
    margin-right: -190px;
}

.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown.three{
    position: relative;
    display: inline-block;
}
.dropdown-content.three{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}
.dropdown-content.three {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

  
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
overflow: hidden;
height: 100vh;
background: linear-gradient(180deg,#29516c, #6e8ea5, #7cadd0, #7cadd0, #7cadd0, #7cadd0, #6e8ea5, #3a6583, #1a4461, #09283d);
background-size: 2400% 2400%;
animation: dayNight  60s ease infinite;
}

.circle{
    -webkit-border-radius: 999px;
    border-radius: 999px;
    width: 80px;
    height: 80px;
    padding: 15px;
    margin-left: 40px;
    margin-top: 40px;
    cursor: pointer;
    background: #779BCA;
    color: white;
    text-align: center;
    font: 45px Arial, sans-serif
}

#ride th{
      padding: 10px;
}
#ride{
    width: 50%;
    margin-left: 150px;
    margin-top:-195px;
    font: 40px Arial, sans-serif;
    color: white
}
.arrow{
    box-sizing: border-box;
    height: 2vw;
    width: 2vw;
    margin-left: 6px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0px 2px 2px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}
.arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
}
.modal {
    display: none; /* Hidden by default */
    position: center; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin-left: 20%;
    left: 0;
    top: 0;
    width: 60%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(63, 113, 189); /* Fallback color */
    background-color: rgba(110, 159, 233, 0.2); /* Black w/ opacity */
  }
  
  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 90%;
    text-align: center;
  }
  #deets{
      background-color: green;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #toolbar{
    background-color : rgba(184, 229, 250, 0.2);
    border-color: transparent;
    margin: 0px;
    padding: 4px;
  }
  #btn{
    background-color:#0758A6;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    border:none;
    position: relative;
    margin-bottom: 10%;
    margin-top: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.747);
  
  }
  textarea {
  width: 250px;
  height: 100px;
  }
  
  body {
    margin: 0;
    background-color: #EBB;
     
  }
  .lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(95, 160, 221);
  }
  .toolbarLB {
    text-align: right;
    padding: 3px;
    margin: 30px;
    
  }
  
  .closeLB {
    color: red;
    cursor: pointer;
  }
 
 
  #btn{
    background-color:#0758A6;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    border:none;
    position: relative;
    margin-bottom: 10%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.747);
  
  }
  textarea {
  width: 250px;
  height: 100px;
  }
  
  body {
    margin: 0;
    background-color: #EBB;
     
  }


  
  /* .dropbtn:hover, .dropbtn:focus {
    background-color: green;
    
  } */
  
  .dropdown.two {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content.two {
    display: none;
    position: absolute;
    background-color:#09283d;
    overflow: auto;
    padding: 20px;
    width: 1000px;
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
  }
  
  .dropdown-content.two a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 70%;
    background-color: #1a4461;
   
  }
  
  .dropdown.two a:hover {background-color: #ddd;}
  
  .show {display: block;}
 
  .list{
      background-color: aliceblue;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      position: absolute;
  }
  
  