<!DOCTYPE html>
{% load static %}
    <html>
        <head>
     <title>RideAlong</title>
     <link href="{% static 'reset.css'  %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>

        {% block content %}
            {{ user }}
            {{ title }}
            {{ validlink }}
            {% if validlink %}
                <h3>Change password</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Change password</button>
                    </form>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset. Hi.
                </p>
            {% endif %}
        {% endblock %}
            

        <!--
        <div class="container mt-4">

            
            <div class="row">
                
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3">Reset Password:</h3>
                            
                            <div class="md-form">
                                
                                <label for="defaultForm-email">New Password: </label>
                                <input type="password" id="defaultForm-pass" class="form-control" placeholder="Choose a new password">
                            </div>
                            <div class="md-form">
                                <label for="defaultForm-pass">Confirm Password: </label>
                                <input type="password" id="defaultForm-pass" class="form-control" placeholder="Re-enter password">
                                
                            </div>
                            <div class="newsub">
                                    <button class="btn">Submit</button>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div> -->
   