
<!DOCTYPE html>
    <html>
        <head>
     <title>RideAlong</title>
     <link href="register.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">  
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        <body>
                <div id="toolbar">
                    <div class="form-group" align="left">
                        <i id="power" class="fa fa-power-off" style="font-size:18px"></i>
                        <input type="text" id="input" placeholder="Search...">
                        <i id="home" class="fa fa-home" style="font-size:40px"></i>
                        <button class="btn" id="login">Login</button>
                        <button class="btn" id="register">Register</button>
                    </div>
                </div>
        <div class="form">
            
            <ul class="tab-group">
            <li class="tab active"><a href="#signup">Sign Up</a></li>
            <li class="tab"><a href="#login">Log In</a></li>
            </ul>
            
            <div class="tab-content">
            <div id="signup">   
                <h1>Sign Up for Free</h1>
                
                <form action="/" method="post">
                
                <div class="top-row">
                <div class="field-wrap">
                    <label>
                    First Name<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" />
                </div>
            
                <div class="field-wrap">
                    <label>
                    Last Name<span class="req">*</span>
                    </label>
                    <input type="text"required autocomplete="off"/>
                </div>
                </div>

                <div class="field-wrap">
                <label>
                    Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off"/>
                </div>
                
                <div class="field-wrap">
                <label>
                    Set A Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
                </div>
                
                <button type="submit" class="button button-block"/>Get Started</button>
                
                </form>

            </div>
            <!--login shit, copy into a diff file -->
            
            
            </div><!-- tab-content -->
            
        </div> 
    <!-- /form -->
    </html>