<!DOCTYPE html>
<html>
    <head>
 <title>RideAlong</title>
 <link href="regSuccess.css rel="stylesheet">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">  
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    <body id="hello">
      <div class="lightbox">
        <div class="iframeContainer">
          <div class="toolbarLB">
            <!-- <span class="closeLB" onclick="lightBoxClose()">x</span> -->
            <h1>Registration Complete!</h1>
          </div>
            <button id="btn" type="submit"> Login to continue </button>
        </div>
      </div>
    </body>
       <script src="script.js"></script>    
</html>