<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>RideAlong</title>
        <link rel="stylesheet" href="{% static 'drivePageNew3.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <div id="toolbar">
           
            <div class="form-group" align="left">
                <form id="searchForm" method="get" action="search">
                        <div class="dropdown">
                                <i id="power" class="fa fa-car" style="font-size:20px"></i>
                                    <div class="dropdown-content">
            `                                <a href= "{% url 'rider' %}"> Riders </a>
                                            <a href= "{% url 'driverpage' %}"> Driver </a>
                                    </div>
                            </div>
                    <input type="text" name="searchLocation" id="input">
                    <input style="display:none;" type = "date" id="departDate" name = "departDate" required />
                <select name="filter" id="filters">
                  <option value="location">Location</option>
                  <option id="dateSelection" value="date">Date</option>
                  <option value="price">Price</option>
                  <option value="luggage">Number of Bags</option>
                  <option value="passenger">Number of Passengers</option>
                </select>
                <input id="seachVal" type="submit" value="Submit">
                <a href= "/"><i id="home" class="fa fa-home" style="font-size:40px"> </i></a>
                        <i id="bell2" class="fa fa-bell" style="font-size:36px"></i>
                        <!-- <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a>
                        <div id="personal" style="position:absolute; left:1257px; top:50px; color:whitesmoke;">
                        {{user.username}}
                        </div> -->
                        <!-- <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a> -->
                        <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>
                        </div>
                        </div>
                        <div>
                          </div>
           

            <script>
                var departDate = document.getElementById('departDate');
                departDate.required=false;
                // Get the button that opens the modal
               // var filters = document.getElementById("filters");
                // Get the <span> element that closes the modal
                filters.onchange = function(){
                    if(filters.value=="date"){
                        departDate.style.display = "block";
                    }else{
                        departDate.style.display = "none";
                    }

                }
            </script>
            </form>

        {% if isIndex is False %}
            <div class="circle">
                        <div class="dropdown two" >
                        <div onclick="myfunction()" class = "arrow"></div>
                        <div id="myDropdown" class="dropdown-content two">
                                <div>
                                            <p>Rides</p>
                                            {% for request in searchResult %}
                                            <p for="Destination">Destination: {{request.arrivalLoc}}
                                            <button class="btn" id="Edit1">Edit</button><br></p>
                                            <p for="Origin">Pick Up Location: {{request.departLoc}}
                                            <button class="btn" id="Edit2">Edit</button><br></p>
                                            <p for="Pick Up Time">Pick Up Time: {{request.pickupTime}}
                                            <button class="btn" id="Edit3">Edit</button><br></p>
                                            <p for="Filled Seats">Filled Seats: {{request.numOfSeats}}
                                            <button class="btn" id="Edit4">Edit</button><br></p>
                                            <p for="CarYear">Car Make: {{request.Car.Make}}
                                            <button class="btn" id="Edit5">Edit</button><br></p>
                                            <p for="CarModel">Car Model: {{request.Car.Model}}
                                            <button class="btn" id="Edit6">Edit</button><br></p>
                                            <p for="CarYear">Car year: {{request.Car.Year}}
                                            <button class="btn" id="Edit7">Edit</button><br></p>
                                            <button class="btn" id="Delete">Delete</button>
                                            {% endfor %}
                                        </div>
                        </div>
                    </div>
            </div>
        {%endif%}


        {% if isIndex %}
        <button class="circle"id="myBtn"> &#43;</button>

        <table id="ride">
            <tr>
                <th>New Ride</th>
            </tr>
            <tr>
                <th>
                </th>
            </tr>
            <tr><th></th></tr>
            <a href="rides">
            <div class="circle">
                        <div class="dropdown two" >
                        <div class = "arrow"></div>
                        
                        </div>
                    </div>
            </div>
            </a>
            <tr>
                <th></th>
            </tr>
            <tr>
                <th> My Rides</th>
            </tr>
        </table>

        {% endif %}
        <form id="deets" action="" method = "post">
            {%csrf_token%}
                <div id="myModal" class="modal">

                        <!-- Modal content -->
                                

                                <div class="tab-content">
                                        <div class="modal-content" id="myModal2" scrolling="yes">
                                            
                                                <span class="close">&times;</span>
                                                
                                                <div style="display: none">
                                                    <input id="origin-input" class="controls" type="text"
                                                        placeholder="Enter an origin location">
                                            
                                                    <input id="destination-input" class="controls" type="text"
                                                        placeholder="Enter a destination location">
                                            
                                                    <div id="mode-selector" class="controls">
                                                      <input type="radio" name="type" id="changemode-walking" checked="checked">
                                                      <label for="changemode-walking">Walking</label>
                                            
                                                      <input type="radio" name="type" id="changemode-transit">
                                                      <label for="changemode-transit">Transit</label>
                                            
                                                      <input type="radio" name="type" id="changemode-driving">
                                                      <label for="changemode-driving">Driving</label>
                                                    </div>
                                                </div>
                                            
                                                <div id="map"></div>
                                             
                                            
                                              

                                        <p>
                                            <label>
                                                <br>
                                                Enter Departure Location
                                            </label>
                                            <br>
                                            <input id="departure" type="text" required autocomplete="off" size="50" name="departLoc" required />
                                        </p>
                                        <p>
                                            <label>
                                            Enter Arrival Location
                                            </label>
                                            <br>
                                            <input type="text"required autocomplete="off" size="50" name="arrivalLoc" required />
                                        </p>
                                   
                                    <div>
                                        <p>
                                       <label> Estimate Pickup: Date/Time </label>
                                       <br>
                                            <input type = "datetime-local" name = "pickupTime" required />
                                        </p>
                                    </div>
                                    <div>
                                            <p>
                                           <label> Estimate DropOff: Date/Time</label>
                                           <br>
                                                <input type = "datetime-local" name = "dropTime" required />
                                            </p>
                                    </div>
									<div>
                                            <p>
                                           <label> Car Make (optional)</label>
                                           <br>
                                                <input type = "text" name = "carMake" />
                                            </p>
                                    </div>
									<div>
                                            <p>
                                           <label> Car Model (optional)</label>
                                           <br>
                                                <input type = "text" name = "carModel" />
                                            </p>
                                    </div>
									<div>
                                            <p>
                                           <label> Car Year (optional)</label>
                                           <br>
                                                <input type = "text" name = "carYear" />
                                            </p>
                                            <br>
                                    </div>
                                    <!-- <div>
                                        <p>
                                            <label>Special Instructions</label>
                                            <br>
                                            <textarea rows="4" cols="50" name="comments" maxlength="500"></textarea>
                                        </p>
                                    </div> -->
                                    <div>
                                        <table id="formz">
                                            <tr>
                                                <td>
                                                        <p>
                                                                <label>Seats Available</label>
                                                                <br>
                                                             <input type="number" id ="Seats" name = "seats" min = "0" max = "10" >
                                                        </p>
                                                </td>
                                                <td>
                                                        <p>
                                                                <label>Baggage space</label>
                                                                <br>
                                                                <input type="number" id = "Baggage" name = "baggage" min = "0" max = "10">
                                                        </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                   <!-- <div>
                                        <fieldset>
                                            <legend>Extra Accomodations</legend>
                                            <p><label> <input type="checkbox" name="extras" value="baby"> Baby Seat Accessable </label></p>
                                            <p><label> <input type="checkbox" name="extras" value="wheelchair"> Wheelchair Accessable </label></p>
                                        </fieldset>
                                    </div> -->
                                <button id="btn" type="submit" >  Start a ride </button>
                            </div>
                        
                      </div>
                </div>
        </form>

        <style>
            /* Always set the map height explicitly to define the size of the div
             * element that contains the map. */
             #map {
        height: 425px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 200px;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }

      #mode-selector {
        color: #fff;
        background-color: #4d90fe;
        margin-left: 12px;
        padding: 5px 11px 0px 11px;
      }

      #mode-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
          </style>

        <script>
            var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var showRide = document.getElementById('rideModal');
        var arrow = document.getElementsByClassName('arrow');
        arrow.onclick = function(){
                showRide.style.display = "block";
        }
        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        var departureLocation = document.getElementById("departure").value;
        var findBtn = document.getElementById("btn");
        function submitVals(){
            console.log(departureLocation);

        }
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        function drop(){
	        document.getElementByID("driverInfo").classList.toggle("show");
        }
        function showMe(){
            var x = document.getElementById("filters");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    mapTypeControl: false,
    center: {lat: -33.8688, lng: 151.2195},
    zoom: 13
  });

  new AutocompleteDirectionsHandler(map);
}

/**
 * @constructor
 */
function AutocompleteDirectionsHandler(map) {
  this.map = map;
  this.originPlaceId = null;
  this.destinationPlaceId = null;
  this.travelMode = 'WALKING';
  this.directionsService = new google.maps.DirectionsService;
  this.directionsDisplay = new google.maps.DirectionsRenderer;
  this.directionsDisplay.setMap(map);

  var originInput = document.getElementById('origin-input');
  var destinationInput = document.getElementById('destination-input');
  var modeSelector = document.getElementById('mode-selector');

  var originAutocomplete = new google.maps.places.Autocomplete(originInput);
  // Specify just the place data fields that you need.
  originAutocomplete.setFields(['place_id']);

  var destinationAutocomplete =
      new google.maps.places.Autocomplete(destinationInput);
  // Specify just the place data fields that you need.
  destinationAutocomplete.setFields(['place_id']);

  this.setupClickListener('changemode-walking', 'WALKING');
  this.setupClickListener('changemode-transit', 'TRANSIT');
  this.setupClickListener('changemode-driving', 'DRIVING');

  this.setupPlaceChangedListener(originAutocomplete, 'ORIG');
  this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');

  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);
  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(
      destinationInput);
  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);
}

// Sets a listener on a radio button to change the filter type on Places
// Autocomplete.
AutocompleteDirectionsHandler.prototype.setupClickListener = function(
    id, mode) {
  var radioButton = document.getElementById(id);
  var me = this;

  radioButton.addEventListener('click', function() {
    me.travelMode = mode;
    me.route();
  });
};

AutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(
    autocomplete, mode) {
  var me = this;
  autocomplete.bindTo('bounds', this.map);

  autocomplete.addListener('place_changed', function() {
    var place = autocomplete.getPlace();

    if (!place.place_id) {
      window.alert('Please select an option from the dropdown list.');
      return;
    }
    if (mode === 'ORIG') {
      me.originPlaceId = place.place_id;
    } else {
      me.destinationPlaceId = place.place_id;
    }
    me.route();
  });
};

AutocompleteDirectionsHandler.prototype.route = function() {
  if (!this.originPlaceId || !this.destinationPlaceId) {
    return;
  }
  var me = this;

  this.directionsService.route(
      {
        origin: {'placeId': this.originPlaceId},
        destination: {'placeId': this.destinationPlaceId},
        travelMode: this.travelMode
      },
      function(response, status) {
        if (status === 'OK') {
          me.directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
};

        
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwAf6GdGjSHj7yjhWXaFdr7F6T09PPMJk&libraries=places&callback=initMap"
            async defer></script>
    </body>
</html>