<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>RideAlong</title>
        <link rel="stylesheet" href="{% static 'driverPage2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <div id="toolbar">
                    <button type="button" id="filter" onclick="showMe()" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-filter"></span> Filter 
                    </button>
            <div class="form-group" align="left">
                <div class="dropdown">
                    <i id="power" class="fa fa-car" style="font-size:20px"></i>
                        <div class="dropdown-content">
                                <a href="#">Rider</a>
                                <a><b>Driver</b></a>
                        </div>
                </div>
                <form id="searchForm" method="get" action="">
            {%csrf_token%}
                    <input type="text" name="searchText" id="input" placeholder="Search...">
                    <!--<button type="submit" id="searchText" onclick="l">Search</button>-->
                    <a type="submit" href="search" class="btn">Search</a>
                </form>
                    <i id="home" class="fa fa-home" style="font-size:40px"></i>
                    <div class="dropdown three">
                            <i id="bell" class="fa fa-bell" style="font-size:36px">
                            <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a>

                            <!-- <i id="user" class="fa fa-user-circle-o" style="font-size:36px"></i> -->
                            <div class="dropdown-content three">
                                <p> No New Notifications</p>
                            </div>
                            </i>
                    </div>
                    <!-- <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a> -->
                    <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>
            </div>
        </div>
        <div id="filters" hidden >
                <button id="one" class="filter" >Location </button>
                <button id="two" class="filter" >Date </button>
                <button id="three" class="filter" >Price </button>
                <button id="four" class="filter" >Luggage </button>
                <button id="five" class="filter" >Passengers </button>


        </div>

        {% if isIndex is False %}
            <div class="circle">
                        <div class="dropdown two" >
                        <div onclick="myfunction()" class = "arrow"></div>
                        <div id="myDropdown" class="dropdown-content two">
                                <div>
                                            <p>Rides</p>
                                            {% for request in searchResult %}
                                            <p for="Destination">Destination: {{request.arrivalLoc}}
                                            <button class="btn" id="Edit1">Edit</button><br></p>
                                            <p for="Origin">Pick Up Location: {{request.departLoc}}
                                            <button class="btn" id="Edit2">Edit</button><br></p>
                                            <p for="Pick Up Time">Pick Up Time: {{request.pickupTime}}
                                            <button class="btn" id="Edit3">Edit</button><br></p>
                                            <p for="Filled Seats">Filled Seats: {{request.numOfSeats}}
                                            <button class="btn" id="Edit4">Edit</button><br></p>
                                            <p for="CarYear">Car Make: {{request.Car.Make}}
                                            <button class="btn" id="Edit5">Edit</button><br></p>
                                            <p for="CarModel">Car Model: {{request.Car.Model}}
                                            <button class="btn" id="Edit6">Edit</button><br></p>
                                            <p for="CarYear">Car year: {{request.Car.Year}}
                                            <button class="btn" id="Edit7">Edit</button><br></p>
                                            <button class="btn" id="Delete">Delete</button>
                                            {% endfor %}
                                        </div>
                        </div>
                    </div>
            </div>
        {%endif%}


        {% if isIndex %}
        <button class="circle"id="myBtn"> &#43;</button>

        <table id="ride">
            <tr>
                <th>New Ride</th>
            </tr>
            <tr>
                <th>
                </th>
            </tr>
            <tr><th></th></tr>
            <div class="circle">
                        <div class="dropdown two" >
                        <div onclick="myfunction()" class = "arrow"></div>
                        <div id="myDropdown" class="dropdown-content two">
                                <div>
                                            <p>Rides</p>
                                            <p for="Destination">Destination: St. Louis, Ohio
                                            <button class="btn" id="Edit1">Edit</button><br></p>
                                            <p for="Origin">Pick Up Location: West Laffayte, Indiana
                                            <button class="btn" id="Edit2">Edit</button><br></p>
                                            <p for="Pick Up Time">Pick Up Time: 3:00 p.m. 2/22/2019
                                            <button class="btn" id="Edit3">Edit</button><br></p>
                                            <p for="Filled Seats">Filled Seats: 3
                                            <button class="btn" id="Edit4">Edit</button><br></p>
                                            <p for="CarMake">Car Make: Ferrari
                                            <button class="btn" id="Edit5">Edit</button><br></p>
                                            <p for="CarModel">Car Model: Enzo
                                            <button class="btn" id="Edit6">Edit</button><br></p>
                                            <p for="CarYear">Car year: 2018
                                            <button class="btn" id="Edit7">Edit</button><br></p>
                                            <button class="btn" id="Delete">Delete</button>

                                            {% for request in driveRequests %}
                                            <p for="Destination">Destination: {{request.arrivalLoc}}
                                            <button class="btn" id="Edit1">Edit</button><br></p>
                                            <p for="Origin">Pick Up Location: {{request.departLoc}}
                                            <button class="btn" id="Edit2">Edit</button><br></p>
                                            <p for="Pick Up Time">Pick Up Time: {{request.pickupTime}}
                                            <button class="btn" id="Edit3">Edit</button><br></p>
                                            <p for="Filled Seats">Filled Seats: {{request.numOfSeats}}
                                            <button class="btn" id="Edit4">Edit</button><br></p>
                                            <p for="CarYear">Car Make: {{request.Car.Make}}
                                            <button class="btn" id="Edit5">Edit</button><br></p>
                                            <p for="CarModel">Car Model: {{request.Car.Model}}
                                            <button class="btn" id="Edit6">Edit</button><br></p>
                                            <p for="CarYear">Car year: {{request.Car.Year}}
                                            <button class="btn" id="Edit7">Edit</button><br></p>
                                            <button class="btn" id="Delete">Delete</button>
                                            {% endfor %}
                                        </div>
                        </div>
                    </div>
            </div>
            <tr>
                <th></th>
            </tr>
            <tr>
                <th> My Rides</th>
            </tr>
        </table>
        {% endif %}
        <!-- <table id="ride">
                <tr>
                    <th>New Ride</th>
                </tr>
                <tr>
                    <th>
                    </th>
                </tr>
                <tr><th></th></tr>
                <div class="circle">
                        <button class="arrow Driver"id="viewRideBtn"></button>
                        <div class="driver-contents">
                            <button id="rideBtn">Ride 1</button><br>
                        </div>
                </div>
                <div id="rideModal" class="modal">
                        Modal content -->
                        <!-- <div class="modal-content">
                          <span class="close">&times;</span>
                          <p>Ride Info</p>
                          <label for="Destination">Destination: St. Louis, Ohio</label>
                          <button class="btn" id="Edit1">Edit</button><br>
                          <label for="Origin">Pick Up Location: West Laffayte, Indiana</label>
                          <button class="btn" id="Edit2">Edit</button><br>
                          <label for="Pick Up Time">Pick Up Time: 3:00 p.m. 2/22/2019</label>
                          <button class="btn" id="Edit3">Edit</button><br>
                          <label for="Filled Seats">Filled Seats: 3</label>
                          <button class="btn" id="Edit4">Edit</button><br>
                        </div>
                    </div>
                    <tr>
                        <th></th>
                    </tr>
                    <tr>
                        <th> View Rides</th
                    </tr>
                </table>
               -->
        <form id="deets" action="" method = "post">
            {%csrf_token%}
                <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <div class="form">
                                <div class="tab-content">
                                        <p>
                                            <label>
                                                Enter Departure Location
                                            </label>
                                            <br>
                                            <input id="departure" type="text" required autocomplete="off" size="50" name="departLoc" required />
                                        </p>
                                        <p>
                                            <label>
                                            Enter Arrival Location
                                            </label>
                                            <br>
                                            <input type="text"required autocomplete="off" size="50" name="arrivalLoc" required />
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                       <label> Estimate Pickup: Date/Time </label>
                                       <br>
                                            <input type = "datetime-local" name = "pickupTime" required />
                                        </p>
                                    <div>
                                            <p>
                                           <label> Estimate DropOff: Date/Time</label>
                                           <br>
                                                <input type = "datetime-local" name = "dropTime" required />
                                            </p>
                                    </div>
									<div>
                                            <p>
                                           <label> Car Make (optional)</label>
                                           <br>
                                                <input type = "text" name = "carMake" />
                                            </p>
                                    </div>
									<div>
                                            <p>
                                           <label> Car Model (optional)</label>
                                           <br>
                                                <input type = "text" name = "carModel" />
                                            </p>
                                    </div>
									<div>
                                            <p>
                                           <label> Car Year (optional)</label>
                                           <br>
                                                <input type = "text" name = "carYear" />
                                            </p>
                                    </div>
                                    <!-- <div>
                                        <p>
                                            <label>Special Instructions</label>
                                            <br>
                                            <textarea rows="4" cols="50" name="comments" maxlength="500"></textarea>
                                        </p>
                                    </div> -->
                                    <div>
                                        <table id="formz">
                                            <tr>
                                                <td>
                                                        <p>
                                                                <label>Seats Available</label>
                                                                <br>
                                                             <input type="number" id ="Seats" name = "seats" min = "0" max = "10" >
                                                        </p>
                                                </td>
                                                <td>
                                                        <p>
                                                                <label>Baggage space</label>
                                                                <br>
                                                                <input type="number" id = "Baggage" name = "baggage" min = "0" max = "10">
                                                        </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                   <!-- <div>
                                        <fieldset>
                                            <legend>Extra Accomodations</legend>
                                            <p><label> <input type="checkbox" name="extras" value="baby"> Baby Seat Accessable </label></p>
                                            <p><label> <input type="checkbox" name="extras" value="wheelchair"> Wheelchair Accessable </label></p>
                                        </fieldset>
                                    </div> -->
                        </div>
                        <button id="btn" type="submit" >  Start a ride </button>
                      </div>
        </form>
        </div>

    </body>
    <script>
            var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var showRide = document.getElementById('rideModal');
        var arrow = document.getElementsByClassName('arrow');
        arrow.onclick = function(){
                showRide.style.display = "block";
        }
        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        var departureLocation = document.getElementById("departure").value;
        var findBtn = document.getElementById("btn");
        function submitVals(){
            console.log(departureLocation);

        }
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        function drop(){
	        document.getElementByID("driverInfo").classList.toggle("show");
        }
        function showMe(){
            var x = document.getElementById("filters");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }

            </script>
</html>