<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>RideAlong</title>
        <link rel="stylesheet" href="{% static 'driverPage.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <div id="toolbar">
            <div class="form-group" align="left">
                <div class="dropdown">
                    <i id="power" class="fa fa-car" style="font-size:20px"></i>
                        <div class="dropdown-content">
                                <a href="#">Rider</a>
                                <a><b>Driver</b></a>
                        </div>
                </div>
                    <input type="text" id="input" placeholder="Search...">
                    <i id="home" class="fa fa-home" style="font-size:40px"></i>
                    <i id="bell" class="fa fa-bell" style="font-size:36px"></i>
                    <img img src="{% static 'tempPic.png' %}" >
                    <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>

            </div>
        </div>
        <button class="circle"id="myBtn"> &#43;</button>
        <table id="ride">
                <tr>
                    <th>New Ride</th>
                </tr>
                <tr>
                    <th>
                    </th>
                </tr>
                <tr><th></th></tr>
                <div class="circle">
                        <div class="arrow"></div>
                </div>
                <tr>
                    <th></th>
                </tr>
                <tr>
                    <th> Requests</th>
                </tr>
            </table>
        <form id="deets" action="" method = "post">
            {%csrf_token%}
                <div id="myModal" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                          <span class="close">&times;</span>
                          <div class="form">
                                <div class="tab-content">
                                        <p>
                                            <label>
                                                Enter Departure Location
                                            </label>
                                            <br>
                                            <input id="departure" type="text" required autocomplete="off" size="50" name="departLoc"/>
                                        </p>
                                        <p>
                                            <label>
                                            Enter Arrival Location
                                            </label>
                                            <br>
                                            <input type="text"required autocomplete="off" size="50" name="arrivalLoc"/>
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                       <label> Estimate Pickup: Date/Time </label>
                                       <br>
                                            <input type = "datetime-local" name = "pickupTime"/>
                                        </p>
                                    <div>
                                            <p>
                                           <label> Estimate DropOff: Date/Time</label>
                                           <br>
                                                <input type = "datetime-local" name = "dropTime" />
                                            </p>
                                    </div>
                                    <!-- <div>
                                        <p>
                                            <label>Special Instructions</label>
                                            <br>
                                            <textarea rows="4" cols="50" name="comments" maxlength="500"></textarea>
                                        </p>
                                    </div> -->
                                    <div>
                                        <table id="formz">
                                            <tr>
                                                <td>
                                                        <p>
                                                                <label>Seats Available</label>
                                                                <br>
                                                             <input type="number" id ="Seats" name = "seats" min = "0" max = "10" >
                                                        </p>
                                                </td>
                                                <td>
                                                        <p>
                                                                <label>Baggage space</label>
                                                                <br>
                                                                <input type="number" id = "Baggage" name = "baggage" min = "0" max = "10">
                                                        </p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div>
                                        <fieldset>
                                            <legend>Extra Accomodations</legend>
                                            <p><label> <input type="checkbox" name="extras" value="baby"> Baby Seat Accessable </label></p>
                                            <p><label> <input type="checkbox" name="extras" value="wheelchair"> Wheelchair Accessable </label></p>
                                        </fieldset>
                                    </div>
                        </div>
                        <button id="btn" type="submit"  <a href="driverpage"> Start a ride </button>
                      </div>
        </form>
        <!-- <div class="circle">
                    &#43;
                    <a href="{% url 'ridepopup' %}"></a>
        </div> -->
        <table id="ride">
            <tr>
                <th>New Ride</th>
            </tr>
            <tr>
                <th>
                </th>
            </tr>
            <tr><th></th></tr>
            <div class="circle">
                    <div class="arrow"></div>
            </div>
            <tr>
                <th></th>
            </tr>
            <tr>
                <th> Requests</th>
            </tr>
        </table>
    </body>
    <script>
            var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on the button, open the modal 
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        var departureLocation = document.getElementById("departure").value;
        var findBtn = document.getElementById("btn");
        function submitVals(){
            console.log(departureLocation);

        }

            </script>
</html>