<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>RideAlong</title>
        <link rel="stylesheet" href="{% static 'profile2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <div id="toolbar">
            <div class="form-group" align="left">
                <div class="dropdown">
                    <i id="power" class="fa fa-car" style="font-size:20px"></i>
                        <div class="dropdown-content">
                                <a href="#">Rider</a>
                                <a><b>Driver</b></a>
                        </div>
                </div>
                    <input type="text" id="input" placeholder="Search...">
                    <a href="/" >
                        <i id="home" class="fa fa-home" style="font-size:40px"></i>
                    </a>
                    <div class="dropdown three">
                            <i id="bell" class="fa fa-bell" style="font-size:36px">
                            <div class="dropdown-content three">
                                <p> No New Notifications</p>
                            </div>
                            </i>
                    </div>
                    <img src="{% static 'tempPic.png' %}" class="image1"></a>
                    <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>

            </div>
        </div>
       
        </div>
        <div class="block1">   
                <div class="prof" ><p style="float: left;"> <img src="{% static 'tempPic.png' %}" class="image2" align="top"></p>
                    <button style="float: right" id="edit" class="edit" onclick="myFunction()"> Edit</button>

                    <br>
                    <h1 style="margin-top: 70px;" id="name"> Name:{{user.username}} <br> 
                        School: <br>
                        Car:   
                    </h1>  
                    <div class="avatar-edit">
                            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"/>
                            <label for="imageUpload"</label>
                    </div>  
                    
                </div>
        
               
    
        <br>
        <br>
                <span class="star" style='font-size:30px; color: yellow;'>&#9733;</span>
                <span class="star" style='font-size:30px; color: yellow;'>&#9733;</span>
                <span class="star" style='font-size:30px; color: yellow;'>&#9733;</span>
                <span class="star" style='font-size:30px;'>&#9734;</span>
                <span class="star" style='font-size:30px;'>&#9734;</span>
        </div>
    <div class="block2">
        <br>
        <h1> Reviews </h1>
    </div>
        </body>
   <script>
    function myFunction() {
        var change = document.getElementById("edit");
        document.getElementById("name").contentEditable = true;
        if(change.innerHTML == "Edit"){
            change.innerHTML = "Update"
        }
        else{
            change.innerHTML = "Edit"
            document.getElementById("name").contentEditable = false;

        }
    }

   </script>
</html>