<!DOCTYPE html>
{% load static %}
<html>
    <h1>Rides</h1>
    <link rel="stylesheet" href="{% static 'rides.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="container">
                
                
  
    <!-- <div class="circle">
            <div class="dropdown two" >
            <div onclick="myfunction()" class = "arrow"></div>
            <div id="myDropdown" class="dropdown-content two">
                    
                    <div>
                                <p>Rides</p>
                                <p for="Destination">Destination: St. Louis, Ohio
                                <button class="btn" id="Edit1">Edit</button><br></p>
                                <p for="Origin">Pick Up Location: West Laffayte, Indiana
                                <button class="btn" id="Edit2">Edit</button><br></p>
                                <p for="Pick Up Time">Pick Up Time: 3:00 p.m. 2/22/2019
                                <button class="btn" id="Edit3">Edit</button><br></p>
                                <p for="Filled Seats">Filled Seats: 3
                                <button class="btn" id="Edit4">Edit</button><br></p>
                                <p for="CarMake">Car Make: Ferrari
                                <button class="btn" id="Edit5">Edit</button><br></p>
                                <p for="CarModel">Car Model: Enzo
                                <button class="btn" id="Edit6">Edit</button><br></p>
                                <p for="CarYear">Car year: 2018
                                <button class="btn" id="Edit7">Edit</button><br></p>
                                <button class="btn" id="Delete">Delete</button>


                                {% for request in driveRequests %}
                                <p for="Destination">Destination: {{request.arrivalLoc}}
                                <button class="btn" id="Edit1">Edit</button><br></p>
                                <p for="Origin">Pick Up Location: {{request.departLoc}}
                                <button class="btn" id="Edit2">Edit</button><br></p>
                                <p for="Pick Up Time">Pick Up Time: {{request.pickupTime}}
                                <button class="btn" id="Edit3">Edit</button><br></p>
                                <p for="Filled Seats">Filled Seats: {{request.numOfSeats}}
                                <button class="btn" id="Edit4">Edit</button><br></p>
                                <p for="CarYear">Car Make: {{request.Car.Make}}
                                <button class="btn" id="Edit5">Edit</button><br></p>
                                <p for="CarModel">Car Model: {{request.Car.Model}}
                                <button class="btn" id="Edit6">Edit</button><br></p>
                                <p for="CarYear">Car year: {{request.Car.Year}}
                                <button class="btn" id="Edit7">Edit</button><br></p>
                                <button class="btn" id="Delete">Delete</button>
                                {% endfor %}
                            </div>
            </div>
        </div>
        
</div> -->

</html>