<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>RideAlong</title>
        <link rel="stylesheet" href="{% static 'rides2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <div id="toolbar">
            <div class="form-group" align="left">
                <div class="dropdown">
                    <i id="power" class="fa fa-car" style="font-size:20px"></i>
                        <div class="dropdown-content">
                            <a href= "{% url 'rider' %}"> Rider </a>
                            <a href="{% url 'driverpage' %}"> Driver </a>
                        </div>
                </div>
                    <input type="text" id="input" placeholder="Search...">
                    <a href="/"><i id="home" class="fa fa-home" style="font-size:40px"></i></a>
                    <div class="dropdown three">
                            <i id="bell" class="fa fa-bell" style="font-size:36px">
                            <div class="dropdown-content three">
                                <p> No New Notifications</p>
                            </div>
                            </i>
                    </div>
                    
                    <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a>
                    <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>

            </div>
        </div>
       
                                
                                <div class="list">
                                            <p>My Rides</p>
                                            <br>
                                            <table>
                                                <tr id="rides2">
                                                        <!-- <button style="float: right" id="edit" class="edit" onclick="myFunction()"> Edit</button>                                                                 -->
                                                        <p id="one" for="Origin">Pick Up Location: West Laffayte, Indiana
                                                        <p id="two" for="Destination">Destination: St. Louis, Ohio
                                                                <p id="three" for="Pick Up Time">Pick Up Time: 3:00 p.m. 2/22/2019
                                                                <p id="four" for="Filled Seats">Filled Seats: 3
                                                                    <br>    
                                                                    <br>
                                                                <button class="btn" id="Delete" onclick="show()">Delete</button>
                                                                <br>
                                                                <br>
                                                </tr>
                                                <form id="rideEditForm" action="updateride">
                                                <tr id="myrides">
                                                        {% for request in driveRequests %}
                                                        <input type="text" name="id" value="{{request.ID}}" style="display:none">
                                                        <p id="1" for="Destination">Destination: {{request.arrivalLoc}}
                                                        <br>
                                                        <!-- <input type="button" value="Edit" class="btn" id="Edit1" onclick="myFunction2()"></button><br></p> -->
                                                        <br>
                                                        <input type="submit" class="btn" id="Update" value="Save"><a href="updateride">Update</a></button><br></p>
                                                        <p id="2" for="Origin">Pick Up Location: <input type="text" name="departLoc" value="{{request.departLoc}}">
                                                        <p id="two" for="Destination">Destination: <input type="text" name="arrivalLoc" value="{{request.arrivalLoc}}">
                                                        <p id="3" for="Pick Up Time">Pick Up Time: <input type="datetime-local" name="pickupTime" value="{{request.pickupTime|date:'Y-m-d\Th:i'}}">
                                                        <p id="4" for="Filled Seats">Available Seats: <input type="number" name="seats" value="{{request.numOfSeats}}" min="0" max="5">
                                                        <p id="5" for="Baggage">Room for Baggage: <input type="number" name="baggage" value="{{request.numOfBaggage}}" min="0" max="5">
                                                            <br>
                                                            <br>
                                                        <button class="btn" id="Delete2" style="float: left" =""><a href="deleteride?id={{request.ID}}">Delete</a></button>
                                                            <br>
                                                            <br>
                                                        {% endfor %}
                                                </tr>
                                                </form>
                                            </table>
                                            


                                           
                                        </div>
                        </div>
                    </div>
                    
            </div>
            
            <tr>
                <th></th>
            </tr>
            
      
        


        
          
        </div>

        
    </body>
    <script>
        function show(){
            document.getElementById("one").hidden = true;
            document.getElementById("two").hidden = true;
            document.getElementById("three").hidden = true;
            document.getElementById("four").hidden = true;
            document.getElementById("five").hidden = true;
            document.getElementById("six").hidden = true;
            document.getElementById("seven").hidden = true;            
            }
            function show2(){
            document.getElementById("1").hidden = true;
            document.getElementById("2").hidden = true;
            document.getElementById("3").hidden = true;
            document.getElementById("4").hidden = true;
            document.getElementById("5").hidden = true;
            document.getElementById("6").hidden = true;
            document.getElementById("7").hidden = true;            
            }

            function myFunction() {
                var change = document.getElementById("edit");
                document.getElementById("one").contentEditable = true;
                document.getElementById("two").contentEditable = true;
                document.getElementById("three").contentEditable = true;
                document.getElementById("four").contentEditable = true;
                document.getElementById("five").contentEditable = true;
                document.getElementById("six").contentEditable = true;
                document.getElementById("seven").contentEditable = true;

   
                if(change.innerHTML == "Edit"){
                    change.innerHTML = "Update"
                }
                else{
                    change.innerHTML = "Edit"
                    document.getElementById("one").contentEditable = false;
                    document.getElementById("two").contentEditable = false;
                    document.getElementById("three").contentEditable = false;
                    document.getElementById("four").contentEditable = false;
                    document.getElementById("five").contentEditable = false;
                    document.getElementById("six").contentEditable = false;
                    document.getElementById("seven").contentEditable = false;
        
                }
            }

            function myFunction2() {
                var change = document.getElementById("Edit1");
                document.getElementById("1").contentEditable = true;
                document.getElementById("2").contentEditable = true;
                document.getElementById("3").contentEditable = true;
                document.getElementById("4").contentEditable = true;
                document.getElementById("5").contentEditable = true;
                document.getElementById("6").contentEditable = true;
                document.getElementById("7").contentEditable = true;

   
                if(change.innerHTML == "Edit"){
                    change.innerHTML = "Update"
                }
                else{
                    change.innerHTML = "Edit"
                    document.getElementById("1").contentEditable = false;
                    document.getElementById("2").contentEditable = false;
                    document.getElementById("3").contentEditable = false;
                    document.getElementById("4").contentEditable = false;
                    document.getElementById("5").contentEditable = false;
                    document.getElementById("6").contentEditable = false;
                    document.getElementById("7").contentEditable = false;
        
                }
            }
        
           </script>
    
</html>

<!-- <!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" href="{% static 'rides2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <div class="container">
        <body>
            
                <div id="toolbar">
                        <div class="form-group" align="left">
                            <div class="dropdown">
                                <i id="power" class="fa fa-car" style="font-size:20px"></i>
                                    <div class="dropdown-content">
                                            <a href="#">Rider</a>
                                            <a><b>Driver</b></a>
                                    </div>
                            </div>
                                <input type="text" id="input" placeholder="Search...">
                                <a href="/" >
                                    <i id="home" class="fa fa-home" style="font-size:40px"></i>
                                </a>
                                <div class="dropdown three">
                                        <i id="bell" class="fa fa-bell" style="font-size:36px">
                                        <div class="dropdown-content three">
                                            <p> No New Notifications</p>
                                        </div>
                                        </i>
                                </div>
                                <img src="{% static 'tempPic.png' %}" class="image1"></a>
                                <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>
            
                        </div>
                    </div>
             
                
  
    <div class="circle">
            <div class="dropdown two" >
            <div onclick="myfunction()" class = "arrow"></div>
            <div id="myDropdown" class="dropdown-content two">
                    
                    <div class="entries">
                                <p for="Destination">Destination: St. Louis, Ohio
                                <button class="btn" id="Edit1">Edit</button><br></p>
                                <p for="Origin">Pick Up Location: West Laffayte, Indiana
                                <p for="Pick Up Time">Pick Up Time: 3:00 p.m. 2/22/2019
                                <p for="Filled Seats">Filled Seats: 3
                                <p for="CarMake">Car Make: Ferrari
                                <p for="CarModel">Car Model: Enzo
                                <p for="CarYear">Car year: 2018
                                    <br>
                                <button class="btn" id="Delete">Delete</button>


                                {% for request in driveRequests %}
                                <p for="Destination">Destination: {{request.arrivalLoc}}
                                <button class="btn" id="Edit1">Edit</button><br></p>
                                <p for="Origin">Pick Up Location: {{request.departLoc}}
                                <button class="btn" id="Edit2">Edit</button><br></p>
                                <p for="Pick Up Time">Pick Up Time: {{request.pickupTime}}
                                <button class="btn" id="Edit3">Edit</button><br></p>
                                <p for="Filled Seats">Filled Seats: {{request.numOfSeats}}
                                <button class="btn" id="Edit4">Edit</button><br></p>
                                <p for="CarYear">Car Make: {{request.Car.Make}}
                                <button class="btn" id="Edit5">Edit</button><br></p>
                                <p for="CarModel">Car Model: {{request.Car.Model}}
                                <button class="btn" id="Edit6">Edit</button><br></p>
                                <p for="CarYear">Car year: {{request.Car.Year}}
                                <button class="btn" id="Edit7">Edit</button><br></p>
                                <button class="btn" id="Delete">Delete</button>
                                {% endfor %}
                            </div>
            </div>
        </div>
        
</div>
</body>

</html> -->