<!DOCTYPE html>
{% load static %}
    <html>
        <head>
     <title>RideAlong</title>
     <link href="{% static 'forgot2.css'  %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        <body>
            <!--<form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Please enter the email address you registered with. </label>
                  <input type="email" width="30px" class="form-control" id="forgotEmail1" aria-describedby="forgotEmail" placeholder="Enter email">
                  </div>
                <button type="submit" class="btn">Submit</button>
            </form>-->
        <div class="container-mt4">
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="text-center default-text py-3"><i class="fa fa-lock"></i> Forgot Password?:</h3>
                            <!--Body-->
                            <div class="md-form">
                                <i class="fa fa-envelope prefix grey-text"></i>
                                <label for="defaultForm-email">Enter your email to receive a reset link: </label>
                                <input type="text" id="defaultForm-email" class="form-control" placeholder="Enter Email:">
                            </div>

                            <div class="newsub">
                                <button class="btn">Submit</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </body>