<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>RideAlong</title>
        <link rel="stylesheet" href="{% static 'homePage2.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
            <button class="btn" id="login" onclick="document.getElementById('loginModal').style.display='block'">Login</button>
            <button class="btn" id="register" onclick="document.getElementById('registerModal').style.display='block'">Register</button>
        <!-- Login Form -->
        <form method="post" id="loginForm">
            {% csrf_token %}
            
            <div class="modal" id="loginModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 id="myModalLabel">Login here:</h4>
                            </div>
                            {{formLogin.as_p}}
                        <div class="modal-footer">
                        <input type="checkbox" name="remember_me" value="true"> Remember Me</input>
                            <button class="btn btn-default" name="login" type="submit" value="Login" style="margin:5px;" >Login </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="margin:5px;">Close</button>
                        </div>
                        </div>
                    </div>
                </div>
        </form>
        <!-- Register Form -->
        <form method="post" id="registerForm">
            {% csrf_token %}
            <div class="modal" id="registerModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 id="myModalLabel">Register here:</h4>
                        </div>
                        {{formRegister.as_p}}
                        {{formProfileRegister.as_p}}
                        <div class="modal-footer">
                            <button class="btn btn-default" name="register" type="submit" value="Register" style="margin:5px;"> Register </button>
                             <button type="button" class="btn btn-default" data-dismiss="modal" style="margin:5px;">Close</button>
                        </div>
                        </div>
                    </div>
                </div>
        </form>
        <!--Background animation-->
        <div id="background">
                <div class="moon"></div>
                <!--
                <div class="skyline">
                    <div class="building1-shadow"></div>
                    <div class="building1">
                        <div class="building-left-half"></div>
                        <div class="building-right-half"></div>
                    </div>
                </div>
                -->
                
                <div id="rideAlong" class="logo">
                    <img src="{% static 'logo2.png' %}" class="center">
                </div>
                <div class="road">
                    <div class="road-top-half"></div>
                    <div class="road-bottom-half"></div>
                </div>
                <div class="car-container">
                    <div class="car-top1">
                        <div class="window1"></div>
                        <div class="window2"></div>
                    </div>
                    <div class="car-top2">
                        <div class="door">
                            <div class="door-knob"></div>
                        </div>
                    </div>
                    <div class="car-bottom">
                        <div class="wheel1-top"></div>
                        <div class="wheel1">
                            <div class="wheel-dot1"></div>
                            <div class="wheel-dot2"></div>
                            <div class="wheel-dot3"></div>
                            <div class="wheel-dot4"></div>
                        </div>
                        <div class="wheel2-top"></div>
                        <div class="wheel2">
                            <div class="wheel-dot1"></div>
                            <div class="wheel-dot2"></div>
                            <div class="wheel-dot3"></div>
                            <div class="wheel-dot4"></div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- <div>
            <img src="logo.png" class="center">
        </div> -->
    </body>
    <script>
            // When the user clicks on div, open the popup
            function myFunction() {
                setTimeout(function(){ alert("Please check your email to verify your account!"); });
                
            }
    </script>
</html>