<!DOCTYPE html>
{% load static %}
    <html>
        <head>
     <title>RideAlong</title>
     <link href="{% static 'login2.css'  %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        <body>
            {% block content %}
            {% if user.is_authenticated %}
                <div id="toolbar">
                    <div class="form-group" align="left">
                        <div class="dropdown">
                            <i id="power" class="fa fa-power-off" style="font-size:18px"></i>
                                <div class="dropdown-content">
                                    <a href="rider">Rider</a>
                                    <a href="driver">Driver</a>
                                </div>
                        </div>
                        <input type="text" id="input" placeholder="Search...">
                        <i id="home" class="fa fa-home" style="font-size:40px"> <a href="{% url 'driverpage' %}" ></a> </i>
                        <i id="bell" class="fa fa-bell" style="font-size:36px"></i>
                        <a href="{% url 'profile' %}" ></a>
                        <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a>
                        <div id="personal" style="position:absolute; left:1257px; top:50px; color:whitesmoke;">
                        {{user.username}}
                        </div>
                        <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>

                    </div>
                </div>
                <div class="list"> 
                      
                        <div id="loginUsername">
                        <p style="width:600px; margin: 100px auto;"> Welcome {{ user.username }}! </p>
                        </div>
                </div>
            {% else %}
                <div id="loginUsername">
                          <p style="margin-left: 425px; margin-top: 250px;">You are not logged in!</p>
                </div>
            {% endif %}
            {% endblock %}
    
            
      </body>
      <script>
            function show(){
                document.getElementById("one").hidden = true;
                document.getElementById("two").hidden = true;
                document.getElementById("three").hidden = true;
                document.getElementById("four").hidden = true;
                document.getElementById("five").hidden = true;
                document.getElementById("six").hidden = true;
                document.getElementById("seven").hidden = true;            
                }
                function show2(){
                document.getElementById("1").hidden = true;
                document.getElementById("2").hidden = true;
                document.getElementById("3").hidden = true;
                document.getElementById("4").hidden = true;
                document.getElementById("5").hidden = true;
                document.getElementById("6").hidden = true;
                document.getElementById("7").hidden = true;            
                }
    
                function myFunction() {
                    var change = document.getElementById("edit");
                    document.getElementById("one").contentEditable = true;
                    document.getElementById("two").contentEditable = true;
                    document.getElementById("three").contentEditable = true;
                    document.getElementById("four").contentEditable = true;
                    document.getElementById("five").contentEditable = true;
                    document.getElementById("six").contentEditable = true;
                    document.getElementById("seven").contentEditable = true;
    
       
                    if(change.innerHTML == "Edit"){
                        change.innerHTML = "Update"
                    }
                    else{
                        change.innerHTML = "Edit"
                        document.getElementById("one").contentEditable = false;
                        document.getElementById("two").contentEditable = false;
                        document.getElementById("three").contentEditable = false;
                        document.getElementById("four").contentEditable = false;
                        document.getElementById("five").contentEditable = false;
                        document.getElementById("six").contentEditable = false;
                        document.getElementById("seven").contentEditable = false;
            
                    }
                }
    
                function myFunction2() {
                    var change = document.getElementById("Edit1");
                    document.getElementById("1").contentEditable = true;
                    document.getElementById("2").contentEditable = true;
                    document.getElementById("3").contentEditable = true;
                    document.getElementById("4").contentEditable = true;
                    document.getElementById("5").contentEditable = true;
                    document.getElementById("6").contentEditable = true;
                    document.getElementById("7").contentEditable = true;
    
       
                    if(change.innerHTML == "Edit"){
                        change.innerHTML = "Update"
                    }
                    else{
                        change.innerHTML = "Edit"
                        document.getElementById("1").contentEditable = false;
                        document.getElementById("2").contentEditable = false;
                        document.getElementById("3").contentEditable = false;
                        document.getElementById("4").contentEditable = false;
                        document.getElementById("5").contentEditable = false;
                        document.getElementById("6").contentEditable = false;
                        document.getElementById("7").contentEditable = false;
            
                    }
                }
            
               </script>