<!DOCTYPE html>
{% load static %}
    <html>
        <head>
     <title>RideAlong</title>
     <link href="{% static 'login2.css'  %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        <body>
                <div id="toolbar">
                    <div class="form-group" align="left">
                        <div class="dropdown">
                            <i id="power" class="fa fa-power-off" style="font-size:18px"></i>
                                <div class="dropdown-content">
                                    <a href="#">Rider</a>
                                    <a href="accounts/driverpage">Driver</a>
                                </div>
                        </div>
                        <input type="text" id="input" placeholder="Search...">
                        <i id="home" class="fa fa-home" style="font-size:40px"></i>
                        <i id="bell" class="fa fa-bell" style="font-size:36px"></i>
                        <img img src="{% static 'tempPic.png' %}" > 
                        <div id="personal" style="position:absolute; left:1257px; top:50px; color:whitesmoke;">
                        {{user.username}}
                        </div>
                        <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>

                    </div>
                </div>
                <div id="loginUsername"> 
                      
                        {% block content %}
                        {% if user.is_authenticated %}
                          Welcome {{ user.username }}!
                        {% else %}
                          {{user.username}}
                          <p>You are not logged in </p>
                        {% endif %}
                        {% endblock %}

            </div>