<!DOCTYPE html>
{% load static %}
    <html>
        <head>
     <title>RideAlong</title>
     <link href="{% static 'register.css'  %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        <body>
                <div id="toolbar">
                    <div class="form-group" align="left">
                        <i id="power" class="fa fa-power-off" style="font-size:18px"></i>
                        <input type="text" id="input" placeholder="Search...">
                        <i id="home" class="fa fa-home" style="font-size:40px"></i>
                        <button class="btn" id="login">Login</button>
                        <button class="btn" id="register">Register</button>
                    </div>
                </div>
                <div id="login"> 
                      
                        {% block content %}
                        {% if user.is_authenticated %}
                          Hi {{ user.username }}!
                        {% else %}
                          {{user.username}}
                          <p>You are not logged in </p>
                        {% endif %}
                        {% endblock %}
                
                
                <form action="/" method="post">
                
                <div class="field-wrap">
                <label>
                    Email Address<span class="req">*</span>
                </label>
                <input type="email"required autocomplete="off"/>
                </div>
                
                <div class="field-wrap">
                <label>
                    Password<span class="req">*</span>
                </label>
                <input type="password"required autocomplete="off"/>
                </div>
                
                <p class="forgot"><a href="#">Forgot Password?</a></p>
                
                <button class="button button-block"/>Log In</button>
                
                </form>

            </div>