<!DOCTYPE html>
{% load static %}
    <html>   
        <head>
     <title>RideAlong</title>
     <link href="{% static 'reviewz.css'  %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        </head>
        <body>
                <div id="toolbar">
                    <div class="form-group" align="left">
                        <div class="dropdown">
                            <i id="power" class="fa fa-power-off" style="font-size:18px"></i>
                                <div class="dropdown-content">
                                    <a href="rider">Rider</a>
                                    <a href="driver">Driver</a>
                                </div>
                        </div>
                        <input type="text" id="input" placeholder="Search...">
                        <i id="home" class="fa fa-home" style="font-size:40px"> <a href="{% url 'driverpage' %}" ></a> </i>
                        <i id="bell" class="fa fa-bell" style="font-size:36px"></i>
                        <a href="{% url 'profile' %}" ></a>
                        <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a>
                        <div id="personal" style="position:absolute; left:1257px; top:50px; color:whitesmoke;">
                        {{user.username}}
                        </div>
                        <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>

                    </div>
                </div>
      </body>

      <div class="block1">
        <div class="prof" ><p style="float: left;"> <img src="{% static 'tempPic.png' %}" class="image2" align="top"></p>
            
            <h1 id="header" >Rate your experience and write a review! </h1>
        </div>
        

      </div> 
      <br>
      <form method="GET" action="">
      <label id="write" >
            Title: <span class="req"></span>
            </label>
            <br>
            <input id="title" type="text" name="title" required autocomplete="off" />
            <br>
            <br>
      <p id="write" ><b> Write a review: </b>  </p>
      <textarea name="message" rows="10" cols="100"></textarea>
      <br>
      <br>
      <p ><div class="starz" style="font-size: 40px;">
        
        Rating:
        
        
    </div>
  
      <button class="buttonz" name="submitReview" value="{{request.ID}}" >Submit review</button>
      <br>
      <br>
      
    </form>

    
</html>




      <!-- <div class="rating" style='font-size:40px' allign="left">
        <h1 allign="left">Option 1</h1>
        <span allign="left">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
        </div>
        <br>
        <h1>Title:</h1>
        <textarea rows="2" cols="50"></textarea>
        <br> 
        <h2>Summary:</h2>
        <textarea rows="8" cols="70"></textarea>
        <br>
        <button type="submit" class="button button-block"/>Submit review</button>
        <br>
        <br>
        <br>
        <h1>Option 2</h1>
        <div class="form" id="review">
            <div class="top-row">
                <div class="field-wrap">
                    <label>
                    Title<span class="req">*</span>
                    </label>
                    <input type="text" required autocomplete="off" />
                </div>
            
                <div class="field-wrap">
                    <label>
                    Review<span class="req">*</span>
                    </label>
                    <input type="text"required autocomplete="off"/>
                </div>
                </div>
            <button type="submit" class="button button-block"/>Submit review</button>
        </div>
       -->