<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>RideAlong</title>
        <link rel="stylesheet" href="{% static 'riderPage.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    </head>
    <body>
        <div id="toolbar">
                    
            <div class="form-group" align="left">
            <form id="searchForm" method="get">
                <div class="dropdown">
                    <i id="power" class="fa fa-car" style="font-size:20px"></i>
                        <div class="dropdown-content">
                            <a href= "{% url 'riderpage' %}"> Rider </a>
                            <a href = "{% url 'driverpage' %}"> Driver </a>
                        </div>
                </div>
                <input type="text" name="searchLocation" id="input">
                <input style="display:none;" type = "date" id="departDate" name = "departDate" required />
            <select name="filter" id="filters">
              <option value="location">Location</option>
              <option id="dateSelection" value="date">Date</option>
              <option value="price">Price</option>
              <option value="luggage">Number of Bags</option>
              <option value="passenger">Number of Passengers</option>
            </select>
            <input id="seachVal" type="submit" name="searchButton" value="Search">
            <a href= "/"><i id="home" class="fa fa-home" style="font-size:40px"> </i></a>
                    <i id="bell2" class="fa fa-bell" style="font-size:36px"></i>
                    <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a>
                    
                    <!-- <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a>
                    <div id="personal" style="position:absolute; left:1257px; top:50px; color:whitesmoke;">
                    {{user.username}}
                    </div> -->
                    <!-- <a href="{% url 'profile' %}" > <img src="{% static 'tempPic.png' %}" ></a> -->
                    <button class="btn" id="login"><a href="{% url 'logout' %}">Logout</a></button>
                <div class="list">
                    {% if requestSuccess %}
                        Your request was successful!
                    {% endif %}
                    <h1 id="header" >Requested Rides</h1>
                        {% for rl in riderLinks %}
                                <div class="pls">
                                <p id="1" for="Destination">TRIP TO: {{rl.DriveRequest.arrivalLoc}}
                                <br>
                                <!-- <input type="button" value="Edit" class="btn" id="Edit1" onclick="myFunction2()"></button><br></p> -->
                                <br>
                                    <p id="2" for="Origin">Pick Up Location: {{rl.DriveRequest.departLoc}}</p>
                                    <p id="two" for="Destination">Destination: {{rl.DriveRequest.arrivalLoc}}</p>
                                    <p id="3" for="Pick Up Time">Pick Up Time: {{rl.DriveRequest.pickupTime|date:'Y-m-d\Th:i'}}</p>
                                    <p id="4" for="Filled Seats">Filled Seats: {{rl.DriveRequest.seatsNeeded}}</p>
                                    <p id="5" for="Baggage">Baggage: {{rl.DriveRequest.baggageNeeded}}</p>
                                    <br>
                                    <br>
                                {% if not rl.Confirmed and not rl.Denied %}
                                    <button type="submit" class="btn1" style="float: left; opacity: 0.7;" value="{{rl.DriveRequest.ID}}" disabled>Requested</button>
                                    <button type="submit" class="btn1" style="float: left; margin-left: 1em;" name="removeRequestButton" value="{{rl.ID}}">Remove</button>
                                {% elif rl.Confirmed %}
                                    <button type="submit" class="btn1" style="float: left; opacity: 0.7; background: green;" value="{{rl.DriveRequest.ID}}" disabled>Confirmed</button>
                                {% elif rl.Denied %}
                                    <button type="submit" class="btn1" style="float: left; opacity: 0.7; background: red;" value="{{rl.DriveRequest.ID}}" disabled>Denied</button>
                                {% endif %}
                                    <br>
                                    <br>
                                </div>
                                <br>
                                {% endfor %}
                    <h1 id="header" >Available Rides</h1>


                                {% for request in driveRequests %}
                                <div class="pls">
                                <p id="1" for="Destination">TRIP TO: {{request.arrivalLoc}}
                                <br>
                                <!-- <input type="button" value="Edit" class="btn" id="Edit1" onclick="myFunction2()"></button><br></p> -->
                                <br>
                                    <p id="2" for="Origin">Pick Up Location: {{request.departLoc}}</p>
                                    <p id="two" for="Destination">Destination: {{request.arrivalLoc}}</p>
                                    <p id="3" for="Pick Up Time">Pick Up Time: {{request.pickupTime|date:'Y-m-d\Th:i'}}</p>
                                    <p id="4" for="Filled Seats">Filled Seats: {{request.seatsNeeded}}</p>
                                    <p id="5" for="Baggage">Baggage: {{request.baggageNeeded}}</p>
                                    <br>
                                    <br>
                                <button type="submit" class="btn1" name="requestButton" style="float: left" value="{{request.ID}}">Request Ride</button>
                                    <br>
                                    <br>
                                </div>
                                <br>
                                {% endfor %}

                </div>
                </form>
                    
        <script>
            var departDate = document.getElementById('departDate');
            departDate.required=false;
            // Get the button that opens the modal
           // var filters = document.getElementById("filters");
            // Get the <span> element that closes the modal
            filters.onchange = function(){
                if(filters.value=="date"){
                    departDate.style.display = "block";
                }else{
                    departDate.style.display = "none";
                }

            }
        </script>

    </body>
    <script>

        var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var showRide = document.getElementById('rideModal');
        var arrow = document.getElementsByClassName('arrow');
        arrow.onclick = function(){
                showRide.style.display = "block";
        }
        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
        var departureLocation = document.getElementById("departure").value;
        var findBtn = document.getElementById("btn");
        function submitVals(){
            console.log(departureLocation);

        }
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        function drop(){
	        document.getElementByID("driverInfo").classList.toggle("show");
        }
        function showMe(){
            var x = document.getElementById("filters");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        
            
        }

    </script>
    
</html>