#toolbar{
    background-color : rgba(184, 229, 250, 0.2);
    border-color: transparent;
    margin: 0px;
    padding: 4px;
}
#btn{
    background-color:#0758A6;
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-left: 34%;
    border:none;
    margin-bottom: 10%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.747);

}
body {
    margin: 0;
    background-color: #EBB;
     
  }
  .lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(95, 160, 221);
  }
  .toolbarLB {
    text-align: right;
    padding: 3px;
    margin: 30px;
    
  }
  
  .closeLB {
    color: red;
    cursor: pointer;
  }
  .lightbox .iframeContainer {
    vertical-align: middle;
    background:white;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 5px 10px 5px;
  }
  .lightbox.closed {
    display: none;
  }
